<!DOCTYPE html>
<html>
<body>

<h2>Edit Advertisement</h2>

<%= form_for @edit_farmer_instrument do |form| %>
    
 
    <p>
      <%= form.label :rent_per_hour %><br>
      <%= form.text_field :rent_per_hour %>
    </p>

    <p>
      <%= form.label :is_available %><br>
      <%= form.text_area :is_available %>
    </p>

    <p>
      <%= form.label :available_from_date %>
      <%= form.date_field :available_from_date%>
    </p>

    <p>
      <%= form.label :available_to_date %>
      <%= form.date_field :available_to_date%>
    </p>

    <p>
      <%= form.label :deposit %><br>
      <%= form.text_area :deposit%>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>

</body>
</html>